{% extends 'admin_layout.html' %}

{% block body %}

<h1>ROOM</h1><br>
<form action="/update_room" method="POST">
  <div class="form-group">
    <input type="number" name="room_no" placeholder="Room no" value={{data[0]}}><br><br>
    <input type="number" name="bed" placeholder="Bed Count" value={{data[2]}}><br><br>
    <input type="text" name="price"  placeholder="Price" value={{data[3]}}><br><br>
    <select name="service" class="form-group">
        <option value="" disabled selected>Under Service</option>
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select><br />
  </div>
  <input type="submit" class="btn btn-primary" value="UPDATE">
</form>

{% endblock %}
