<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<a class="navbar-brand" href="#">HOTEL CODA</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/administration">Admin Dashboard <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin_home">Home</a>
  </li>
</ul>
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="/view_request">Booking Request <span class="badge badge-light">{{session.booking_count}}</span></a>

  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</div>
</nav>
